<div class="welcome profile-welcome text text-center">
    <div class="container">
        <div class= "row well-met">
            <h1>Well Met, <%=current_user.Blizzard_ID[0...-5]%>!</h1> 
        </div class="actions">
            <div class ="container">
                <div class= "row">
                    <div class="col-md-5 col-md-offset-1">
                        
                        <div class="btn btn-success btn-collection btn-block">
                            <h4>Update Collection:</h4>
                            <p>When you first signed up, we automatically got your collection from Hearthpawn. If your collection has changed on Hearthpawn recently please click here!</p>
                        </div>
                    </div>
                    
                    <div class="col-md-5">
                        <div class="btn btn-success btn-wishlist btn-block">
                            <h4>Wishlist:</h4>
                            <p>Got a cool deck you want to try out? Click here to add the deck to your wishlist so we can match you with users with relevant collections! </p>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class ="container">
                <div class= "row">
                    <div class="col-md-5 col-md-offset-1">
                        
                        <div class="btn btn-success btn-matches btn-block">
                            <h4>Find Matches:</h4>
                            <p>Connect with users whose collections complement yours. Any matches will be able to make at least one deck on your wishlist and you'll be able to make at least one from theirs!</p>
                        </div>
                    </div>
                    
                    <div class="col-md-5">
                        <div class="btn btn-success btn-generous btn-block">
                            <h4>Feeling Generous?</h4>
                            <p>Have a decently large collection and want to share? Click here to find users who want to play with the cards you have. Make some friend and maybe discover you new favorite deck!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>    
    </div>        
</div>
