<div class= "welcome text-center conatiner-fluid">
    <h1>Welcome to Sharestone!</h1>
    <h3>A place for borrowing decks and making friends</h3>
    <br>
    <div class = "container text-left">
        <p>
            Do you love Hearthstone but can't afford a full collection? Have you 
            ever really wanted to try out a Toggwoggle Benedictus priest but 
            couldn't justify your precious dust on a "meme deck"? Do you find 
            yourself hesitant to craft Shadowreaper Anduin because you don’t know if
            you'll like playing a Control deck?  
        </p>
        <p>
            If so, then you have come to right place. With the new borrow decks 
            feature, players can now play with their friends decks in friendly 
            matches. This is SUPER COOL! However, our friends don't necessarily have
            the cards that we want to play with. That’s where we come in.
        </p>
    
        <p>
            By viewing your collection and a deck you are interested in trying out 
            Sharestone matches you with other users whose collections contain the 
            cards that you want to play and who in turn wants to use cards in your 
            collection. Once matched we help you exchange Blizzard IDs and 
            deckstrings so that you can play with each others decks the next time 
            you are both online. 
        </p>
            But what if you already have all the cards that you want but still want 
            to make new friends on Hearthstone? Well, if you are feeling generous 
            you can give us your collection information and we will show you users 
            who want to try some decks that you can make. We’ll match you up and you 
            can share the love you have for this amazing game with someone new.  
        </p>
    </div>       
</div>
